* { 
    background-color: rgb(209, 209, 245);
}

@font-face {
    font-family: "futura";
    src: url("fonts/FuturaMediumCondensedBT.ttf") format("truetype");
}
@font-face {
    font-family: "optima";
    src: url("fonts/OPTIMA.TTF") format("truetype");
}
@font-face {
    font-family: "blackhansans";
    src: url("fonts/BlackHanSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "barlow";
    src: url("fonts/Barlow-Light.ttf") format("truetype");
}

.header{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: blackhansans ;
}
.page-title {
    align-items: left;
    text-align: left;
    letter-spacing: 2px;
    font-size: 24px;
    margin-left: 30px;
}
.page-title h5 {
    font-family: barlow;
    position: relative;
    top: -30px;
}

.banner {
    align-items: right;
    text-align: center;
    justify-content: right;
    justify-items: right;
    align-content: right;
    margin-right: 30px;
    font-size: 20px;
    position: relative;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 60px;
    border-radius: 8px;
    background-color: rgb(74, 74, 171);
    color: white;
    cursor: pointer;
    width: fit-content;
}

.text-contents {
    position: relative;
    top: -45px;
}

.about {
    margin-left: 30px;
    width: 500px;
    text-align: justify;
    font-family: blackhansans ;
}
.about p{
    font-family: barlow;
}

.problem {
    margin-left: 30px;
    width: 500px;
    text-align: justify;
    font-family: blackhansans ;
}
.problem p{
    font-family: barlow;
}

.solution {
    margin-left: 30px;
    width: 500px;
    text-align: justify;
    font-family: blackhansans ;
}
.solution p{
    font-family: barlow;
}
.solution li{
    font-family: barlow;
}
.solution b{
    font-family: barlowbold;
}

.render-container {
    border: 3px solid black;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
}
.render-container img{
    width: 500px;
    height: auto;
}
